<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class="table table-bordered table-condensed">
  	<tr>
  		<th><div style="font-size: 16px;text-align: center;">カテゴリー</div></th>
  		<td><%= f.select :category, @other.categoryarray, :style => 'font-size:16px;font: bold' %>
  			<%= link_to "カテゴリの追加はこちら", categoryd_path%>
  		</td>
  	     
  	</tr>
  	<tr>
  		<th><div style="font-size: 16px;text-align: center">単語</div></th>
  		<td><%= f.text_field :title, :style => 'font-size:16px;font: bold;width:450px' %></td>
  	</tr>
  	<tr>
  		<th><div style="font-size: 16px;text-align: center;">詳細</div></th>
  		<td><%= f.text_area :content, :style => 'font-size:16px;font: bold;width:450px;height:100px' %></td>
  	</tr>
  	
  	<tr>
  		<th><div style="font-size: 16px;text-align: center;">重要度</div></th>
  		<td><%= f.radio_button :priority, 0, :checked => "checked" %>重要
  			<%= f.radio_button :priority, 1 %>普通
  			<%= f.radio_button :priority, 2 %>低い
  		</td>
  	</tr>
  </table>
    
  <div class="actions">
    <%= f.submit "編集完了", :class => "btn btn-info" %>
  </div>
<% end %>